:root{

--bg:#070b17;

--card:rgba(255,255,255,.06);

--cyan:#00e5ff;
--purple:#9d4edd;
--pink:#ff4fd8;

--text:#ffffff;
}

body.dark{
--bg:#070b17;
}

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

background:var(--bg);
color:white;

font-family:Poppins,sans-serif;
}

.hero{

height:400px;

/* add video or gif background */

background:
linear-gradient(
rgba(0,0,0,.5),
rgba(0,0,0,.7)
),
url("media/quiz-banner.gif");

background-size:cover;
background-position:center;

display:flex;
justify-content:center;
align-items:center;
text-align:center;
}

.hero h1{

font-size:3rem;

text-shadow:
0 0 20px var(--cyan),
0 0 40px var(--cyan);
}

.hero-btn{

margin-top:20px;

padding:14px 30px;

border:none;

background:var(--cyan);

font-weight:bold;

border-radius:50px;

cursor:pointer;

box-shadow:
0 0 20px var(--cyan);
}

.topbar{

padding:20px;

display:flex;
justify-content:space-between;
align-items:center;
}

.container{
padding:30px;
}

.stats-grid,
.challenge-grid,
.badge-grid,
.analytics-grid{

display:grid;

grid-template-columns:
repeat(auto-fit,minmax(220px,1fr));

gap:20px;
}

.neon-card,
.challenge-card,
.badge,
.analytics-card{

background:var(--card);

padding:20px;

border-radius:20px;

backdrop-filter:blur(15px);

border:1px solid rgba(255,255,255,.1);

transition:.4s;
}

.neon-card:hover,
.challenge-card:hover,
.badge:hover{

transform:translateY(-8px);

box-shadow:
0 0 20px var(--cyan),
0 0 40px var(--purple);
}

.glass-card{

margin-top:25px;

background:rgba(255,255,255,.04);

padding:25px;

border-radius:20px;

backdrop-filter:blur(20px);
}

table{
width:100%;
margin-top:20px;
}

th,td{
padding:15px;
text-align:left;
}

input{

width:100%;

padding:14px;

margin:15px 0;

border-radius:12px;

border:none;
}

button{

padding:12px 20px;

border:none;

background:var(--purple);

color:white;

border-radius:12px;
}

#toast{

position:fixed;

bottom:20px;
right:20px;

background:black;

padding:15px;

border-radius:10px;

display:none;

box-shadow:
0 0 20px var(--cyan);
}
